@import "tailwindcss";

@theme {
  /* https://oklch.fyi/ */

  --color-source-green-1: #a7c957;
  --color-source-green-2: #6a994e;
  --color-source-green-3: #386641;

  /* --color-source-green-3 */
  --color-green-100: oklch(0.867 0.146 148.9);
  --color-green-200: oklch(0.767 0.129 148.9);
  --color-green-300: oklch(0.667 0.112 148.9);
  --color-green-400: oklch(0.567 0.095 148.9);
  --color-green-500: oklch(0.467 0.078 148.9);
  --color-green-600: oklch(0.367 0.062 148.9);
  --color-green-700: oklch(0.267 0.045 148.9);
  --color-green-800: oklch(0.167 0.028 148.9);
  --color-green-900: oklch(0.067 0.011 148.9);

  --color-sand-100: oklch(0.95 0.026 88.8);
  --color-sand-200: oklch(0.898 0.053 88.8);
  --color-sand-300: oklch(0.846 0.073 88.8);
  --color-sand-400: oklch(0.793 0.068 88.8);
  --color-sand-500: oklch(0.741 0.064 88.8);
  --color-sand-600: oklch(0.689 0.059 88.8);
  --color-sand-700: oklch(0.637 0.055 88.8);
  --color-sand-800: oklch(0.585 0.05 88.8);
  --color-sand-900: oklch(0.532 0.046 88.8);

  --color-red-100: oklch(0.95 0.017 22.4);
  --color-red-200: oklch(0.851 0.055 22.4);
  --color-red-300: oklch(0.752 0.1 22.4);
  --color-red-400: oklch(0.654 0.157 22.389);
  --color-red-500: oklch(0.554 0.15 22.4);
  --color-red-600: oklch(0.455 0.123 22.4);
  --color-red-700: oklch(0.356 0.096 22.4);
  --color-red-800: oklch(0.257 0.07 22.4);
  --color-red-900: oklch(0.157 0.043 22.4);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-green-700);
    --foreground: var(--color-green-100);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
